@page "/sobre"

<article>
    <header>
        <h1>Sobre Mim</h1>
        <p><strong>Desenvolvedor em ascensão, nerd, otaku e apaixonado por tecnologia</strong></p>
    </header>

    <section>
        <h2>Quem sou eu?</h2>
        <p>Olá! Eu sou o Mateus e esse é meu site pessoal feito com Blazor WebAssembly.</p>
        <p>Aqui eu compartilho minhas experiências com programação, estudos e projetos pessoais e acadêmicos.</p>
    </section>

    <section>
        <h2>Minhas principais habilidades</h2>
        <ul>
            <li>C# / .NET</li>
            <li>Blazor</li>
            <li>HTML5 e CSS3</li>
            <li>Git e GitHub</li>
            <li>React.js</li>
            <li>Python / Django / Flask</li>
            <li>JavaScript</li>
            <li>Java</li>
        </ul>
    </section>
    <footer>
        <p>Obrigado por visitar! 😊</p>
    </footer>
</article>